/* START MAIN */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#map_canvas {
    height: 100%;
}

.hidden {
    display: none;
}

#github_badge {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
}
/* END */

#map_panel > div {
    padding: 10px 100px;
    margin-top: 10px;
    width: 500px;
    background-color: #FAFAFA;
}