body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#map_canvas {
    border: 1px solid #CACACA;
    margin: 2px;
    width: 100%;
    height: 600px;
}

/* SEE http://stackoverflow.com/questions/9141249/twitter-bootstrap-css-affecting-google-maps */
#map_canvas img {
    max-width: none;
}

#github_badge {
    z-index: 2000;
    position: absolute;
    top: 0px;
    right: 0px;
}

#timeline_wrapper {
    margin: 10px 10px 0px 10px;
    font-size: 12px;
}

#social {
    height: 30px;
    width: 300px;
    margin: 0 auto;
}

#social > div {
    width: 90px;
    overflow: hidden;
    float: left;
}

hr {
    margin: 5px 0px;
}